PROJECT_NAME=appointment-booker
PORT=3000
FRONTEND_PORT=4200

# Shared Live MongoDB Atlas Database (No local MongoDB install needed)
MONGODB_URI="mongodb+srv://<dbuser>:<dbpassword>@se-4.myohliv.mongodb.net/?retryWrites=true&w=majority"
#user is admin and password is admin123

# --- Local vs Production Mode ---
# MUST BE false FOR LOCAL DEV (so session cookies work over http://localhost without HTTPS)
# Set to true only in Vercel project environment variables
PRODUCTION=false

# --- Deployment URLs ---
PROD_BACKEND_URL=https://se-4-tau.vercel.app
PROD_FRONTEND_URL=https://se-4-tau.vercel.app

# --- Session / Authentication Secret ---
SESSION_SECRET=b1f7ae01251aeeb7946514793fd7fa05
